@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* weight: 400, 700, 800*/
body {
    overflow: hidden;
    font-family: 'Nanum Myeongjo', serif;
    background: #212121;
    color: white;
}

h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    font-weight: 800;
    font-size: 4vw;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
}